/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <26>;
};


/ {
    behaviors {
        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&to 2>, <&to 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td_mt
            >;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp N1 &kp N2 &kp N3 &kp N4 &kp   N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0  
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI 
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
   &kp LGUI &kp SPACE &td_mt &kp LEFT_SHIFT &kp LEFT_CONTROL &kp RET &mo 2 &kp RALT
                        >;
                };
                mod_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp N1 &kp N2 &kp N3 &kp N4 &kp   N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0  
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    
   &kp CAPSLOCK &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI 
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
   &kp LGUI &kp SPACE &kp A &td_mt &kp LEFT_CONTROL &kp RET &mo 2 &kp RALT
                        >;
                };
                quake_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp F1 &kp F2 &kp F3 &none  &none
   &kp TAB &kp Q &kp W &kp E &kp R &kp Y &kp U  &kp I     &kp O   &kp P    
   &kp CAPSLOCK &kp A &kp S &kp D &kp F   &kp H &kp J  &kp K     &kp L   &kp SEMI 
   &kp LEFT_SHIFT  &kp BSLH &kp Z &kp X &kp C &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
   &to 0 &none &kp SPACE &none &kp ENTER &none &none &kp RET &mo 2 &kp RALT
                        >;
                };
                underglow_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &RGB_TOG &kp N1 &kp N2 &kp N3 &kp N4 &kp F1 &kp F2 &kp F3 &none  &none
   &RGB_EFF &RGB_HUI &RGB_SAI &RGB_BRI &RGB_SPI &kp Y &kp U  &kp I     &kp O   &kp P    
   &RGB_EFR &RGB_HUD &RGB_SAD &RGB_BRD &RGB_SPD  &kp H &kp J  &kp K     &kp L   &kp SEMI 
   &kp LEFT_SHIFT  &kp BSLH &kp Z &kp X &kp C &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
   &to 0 &none &kp SPACE &none &kp ENTER &none &none &kp RET &mo 2 &kp RALT
                        >;
                };


        };
};
